/*
    Apply
*/

.edit-container {
    margin-top: 40px;
    margin-left: 5%;
}
#sidebar table {
    width: 100%;
    background: white;
    display: block;
    overflow-y: auto;
    min-height: 250px;
    max-height: 500px;
    overflow-x: hidden;
    border-radius: 3px 0px 0px 3px;
    border: 1px solid #a2a2a2;
}

#sidebar .title {
    display: block;
    font-size: 14px;
    margin-top: 50px;
    margin-bottom: 10px;
}

#sidebar table td {
    display: block;
    width: 100%;
    padding: 2px 0;
}
#sidebar table tr, #sidebar tbody {
    display: block;
}
#sidebar table td a {
    font-size: 14px;
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 5px 10px;
    color: #000;
}

#sidebar table td a:hover {
    background: #ececec;
    padding-left: 20px;
    transition: 0.2s;
}

#sidebar table td a.active {
    background: #ececec;
    padding-left: 20px;
}

#sidebar .deleteForm select {
    width: 100%;
    display: block;
    overflow-y: auto;
    height: 500px;
    overflow-x: hidden;
    box-sizing: border-box;
    border: none;
}

#sidebar .deleteForm select option {
    font-size: 14px;
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 5px 10px;
}

#slug {
    background: #fff;
    padding: 5px 10px;
    border: 1px solid #aaa;
    width: 95%;
    box-sizing: border-box;
    margin-bottom: 50px;
}

#slug .listedItem {
    color: #333;
    display: inline;
    font-size: 14px;
}

#category select, #page select {
    width: 90%;
    height: 250px;
    display: block;
    box-sizing: border-box;
    border: 1px solid #aaa;
}

#category select option, #page select option {
    display: block;
    padding: 2px 0px 2px 8px;
}

#category .assingedSubCategories, #page .assignedPages {
    margin-bottom: 5%;
}

#category label, #page label {
    display: block;
    margin-bottom: 10px;
    position: absolute;
    top: -25px;
    font-size: 14px;
}
#slugForm {
    display: inline-block;
    width: 250px;
}
#slugForm input[type="text"] {
    width: 100%;
    margin-left: 5px;
    border: 1px solid #e4e4e4;
    padding: 7px;
    color: #333;
    font-size: 14px;
}
#slugForm input[type="text"]:active, #slugForm input[type="text"]:focus {
    border: 1px solid #2e6ac1;
}
#slugForm input[type="text"]:focus, #slugForm input[type="text"]:active {
    outline: none;
}
.searchForm {
    margin-bottom: 20px;
}

.searchForm input[type="text"] {
    padding: 10px;
    font-size: 14px;
    width: 100%;
}
.message-container.success {
    color: #42971c;
    margin-bottom: 10px;
    margin-top: -10px;
    font-size: 14px;
}
.message-container.failed {
    color: rgb(199, 48, 48);
    margin-bottom: 10px;
    margin-top: -10px;
    font-size: 14px;
}

/*
    Modal
*/

.modal-edit, .modal-create {
    position: absolute !important;
    left: 41.66% !important;
    transform: translate(-50%, -50%) !important;
    width: 600px !important;
    height: 500px !important;
}
.modal-edit #modalForm, .modal-create #modalForm {
    position: absolute;
    left: 50px;
    color: #000;
    top: 50px;
    right: 50px;
}
.modal-edit #modalForm input[type="text"], .modal-create #modalForm input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    color: #000;
    margin-bottom: 20px;
    border: 1px solid #aaa;
    padding: 10px;
    border-radius: 3px;
}
.modal-edit #modalForm input, .modal-edit #modalForm textarea, .modal-create #modalForm input, .modal-create #modalForm textarea {
    outline: none;
}
.modal-edit #modalForm textarea, .modal-create #modalForm textarea {
    width: 100%;
    box-sizing: border-box;
    height: 150px;
    color: #000;
    border: 1px solid #aaa;
    padding: 10px;
    border-radius: 3px;
}
.modal-edit #modalForm label, .modal-create #modalForm label {
    display: block;
    margin-bottom: 10px;
}
.selectedCategory, .selectedPage {
    font-weight: bold;
    padding-left: 15px !important;
}
@media only screen and (max-width: 750px) {

    .edit-container, #sidebar {
        display: none !important;
    }
}