.create-container {
    margin-top: 20px;
    margin-left: 5%;
}
h1 {
    font-size: 22px;
    color: #004297;
}
.create-container form input {
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
    background: #fff;
    width: 500px;
    margin-bottom: 20px;
    border: 1px solid #333;
}
.create-container form textarea {
    width: 500px;
    height: 50px;
    border-radius: 3px;
    padding: 10px;
    background: #fff;
    border: 1px solid #333;
    margin-bottom: 20px;
}
.create-container form label {
    display: block;
    margin-bottom: 10px;
}
.create-container form input:focus-visible, .create-container form textarea:focus-visible {
    outline: none;
}
.containerCategoryPagesCheckbox {
    width: 44%;
height: 200px;
position: relative;
overflow-x: auto;
overflow-y: none;
margin-top: 50px;
}
.containerCategoryPagesCheckbox label {
    padding: 0;
    margin: 0;
}
.containerCategoryPagesCheckbox input:after {

    display: none;
}
.edit:hover {
    cursor: pointer;
}


/*
    Sidebar
*/
.mainButtonContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.mainButtonContainer a, .mainButtonContainer label {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    border-radius: 4px;
    padding: 0 20px;
    transition: 0.3s;
    font-size: 16px;
}
.mainButtonContainer label {
    margin-right: 20px;
    color: #fff;
    background: #42971c;
    border: 1px solid #42971c;
}
.mainButtonContainer label:hover {
    background: #6ba152;
    border: 1px solid #6ba152;
}
.mainButtonContainer a {
    border: 1px solid #fff;
    background: rgba(0,0,0,0.1);
    color: #fff;
}
.mainButtonContainer a:hover {
    background: #fff;
    color: #000;
}
.mainButtonContainer label:hover {
    cursor: pointer;
}


/*
    Modal
*/
.modal-add {
    overflow: hidden;
    width: 65% !important;
    height: 65% !important;
    top: 50%;
    transform: translate(-50%, -50% ) !important;
}
.modal-add, .modal-add .container, .modal-add .container, .modal-add .container #modalForm, .modal-add .container #modalForm .row:nth-child(2), .modal-add .container #modalForm .row:nth-child(2) .col6, .modal-add .container .row:nth-child(2) .col6 form { 
    position: relative;
    height: 100%;
}
#SUBCATEGORYSLUGCONTAINER {
    background: #fff;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}
#SUBCATEGORYSLUGCONTAINER div {
    display: inline-block;
}
#ASSINGEDSUBCATEGORYID option, #NOTASSINGEDSUBCATEGORYID option, #ASSIGNEDPAGEID option, #NOTASSIGNEDPAGEID option {
    padding: 3px 0px 3px 7px;
}
#ASSIGNEDPAGEID, #NOTASSIGNEDPAGEID, #ASSINGEDSUBCATEGORYID, #NOTASSINGEDSUBCATEGORYID {
    width: 93%;
    height: 30%;
    border: none;
    margin: 0 auto;
    display: block;
}
#ASSIGNCATEGORY {
    margin-left: 20px;
}
#ASSIGNCATEGORY, #ASSIGNPAGES, #update {
    width: 75px;
    background: #42971c;
    border-color: #42971c;
    border-radius: 3px;
    margin-top: 20px;
    color: #fff;
    padding: 8px;
    text-align: center;
}
#ASSIGNCATEGORY:hover, #ASSIGNPAGES:hover, #update:hover {
    background: #6ba152;
    cursor: pointer;
    border-color: #6ba152;
}
#ASSINGEDSUBCATEGORYID, #ASSIGNEDPAGEID {
    margin-bottom: 20px;
    margin-top: 20px;
}
#ASSINGEDSUBCATEGORYID, #ASSIGNPAGES {
    margin-left: 3.5%;
}
.modal-add form label {
    margin-left: 30px;
}
#BACK {
    background: #4f80c8;
    border-color: #4f80c8;
    border-radius: 3px;
    color: #fff;
    margin-top: 20px;
    margin-right: 20px;
    width: 65px;
    float: right;
    text-align: center;
    padding: 8px;
}
#update {
    float: unset;
}
#BACK:hover {
    cursor: pointer;
    background: #83a7db;
    border-color: #83a7db;
}
.selectedCategory, .selectedPage {
    font-weight: bold;
    padding-left: 15px !important;
}
.assingedPage, .assingedSubCategory {
    font-weight: bold;
}
#PAGEMESSAGE {
    position: absolute;
    bottom: 78px;
    left: 136px;
}
.categorySlug {
    background: none;
    border: none;
    font-weight: bold;
    width: 100%;
    font-style: italic;
    font-size: 11px;
}
.categorySlug:focus-visible {
    border: none;
    outline: none;
}
.modal-edit {
    position: absolute !important;
    top: 50%;
    transform: translate(-50%, -50%) !important;
}
.modal-edit #modalForm {
    position: absolute;
    left: 50px;
    color: #000;
    top: 50px;
    right: 50px;
}
.modal-edit #modalForm input {
    width: 100%;
    box-sizing: border-box;
    color: #000;
    margin-bottom: 20px;
    border: 1px solid #333;
    padding: 10px;
    border-radius: 3px;
}
.modal-edit #modalForm textarea {
    width: 100%;
    box-sizing: border-box;
    height: 150px;
    color: #000;
    border: 1px solid #333;
    padding: 10px;
    border-radius: 3px;
}
.modal-edit #modalForm label {
    display: block;
    margin-bottom: 10px;
}
.modal-edit #modalForm #EDITUPDATE {
    background: #42971c;
    font-size: 14px;
    padding: 10px;
    border: 2px solid #42971c;
    bottom: 20px;
    border-radius: 3px;
    color: #fff !important;
    margin-top: 50px;
}
.modal-edit #modalForm #EDITUPDATE:hover {
    background: #6ba152;
    border-color: #6ba152;
    cursor: pointer;
}
.modal-edit #modalForm #EDITCLOSE {
    background: #4f80c8;
    color: #fff !important;
    border: 2px solid #4f80c8;
    padding: 10px;
    margin-left: 20px;
    border-radius: 3px;
    bottom: 20px;
    font-size: 14px;
    margin-top: 50px;
}
.modal-edit #modalForm #EDITCLOSE:hover {
    cursor: pointer;
    background: #83a7db;
    border-color:  #83a7db;
}