.edit-container, .create-container {
    margin-top: 20px;
    margin-left: 5%;
}
#filename {
    outline: none;
    border: none;
    background: none;
    font-size: 22px;
    margin-bottom: 20px;
}