/*
    Navbar
*/
#navbar #logo {
    margin-left: 40px !important;
}
#navbar {
    border-bottom: 1px solid #bdbdbd;
    box-shadow: unset !important;
}
#navbar form {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}
#navbar form input[type="text"] {
    width: 500px;
    height: 28px;
    padding-left: 30px;
    border-radius: 20px;
    border: 1px solid #b0b0b0;
    font-size: 14px;
}
#navbar form input[type="text"]:focus-visible {
    outline: none;
}
#navbar #searchIcon {
    position: absolute;
    width: 13px;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}
#navbar #profileIcon.admin {
    background: #1888E1;
}
#navbar #profileIcon.normal {
    background: #72B7EE;
}
#settings {
    position: absolute;
    right: 175px;
    top: 50%;
    transform: translateY(-50%);
}
#settings img {
    width: 23px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


/*
    Dashboard
*/
.cardProgressContainer {
    margin: 10px;
}
.cardContainer {
    height: 280px;
    border-radius: 3px;
    background: #fff;
    display: block;
    position: relative;
    width: calc(100% - 20px);
    margin: 10px auto;
    border: 1px solid #c6c6c6;
}
.cardContainer .header {
    width: 100%;
    display: block;
    font-size: 18px;
    padding: 20px 0px 5px 20px;
    color: #333;
    position: relative;
    font-weight: bold;
}
.cardContainer .header .total {
    font-size: 14px;
    font-weight: normal;
}
.cardContainer .amount {
    margin-left: 20px;
    display: block;
    margin-bottom: 15px;
}
.cardContainer .progressContainer {
    height: 40px;
    width: 100%;
    position: relative;
}
#progressInfoItem {
    position: absolute;
    width: auto;
    height: auto;
    z-index: 9999999;
    display: none;
    padding: 8px;
    font-size: 12px;
    border-radius: 3px;
    background: #fff;
    color: #333;
    border: 1px solid #d7d7d7;
}

.show-item {
    display: block !important;
}
#progressInfoItem {
    z-index: 99999999999;
}
.cardContainer .label {
    font-size: 12px;
    position: absolute;
    top: 2px;
    left: 20px;
    z-index: 9;
}
.cardContainer .bar {
    position: absolute;
    background: #eaeaea;
    height: 7px;
    border-radius: 30px;
    border: none;
    width: 75%;
    bottom: 8px;
    left: 20px;
    z-index: 9;
}
.layer {
    width: 87%;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    position: absolute;
}
.stopMousemoveEvent {
    height: 100%;
    width: 100%;
    z-index: 9;
    position: absolute;
    top: 0;
    left: -20px;
    padding: 100px;
}
progress.red::-moz-progress-bar, progress.red::-webkit-progress-value, progress.red::-webkit-progress-bar {
    background: #7D858A;
}
progress.darkBlue::-moz-progress-bar, progress.blue::-webkit-progress-value, progress.blue::-webkit-progress-bar {
    background: #1888E1; 
}
progress.blue::-moz-progress-bar, progress.blue::-webkit-progress-value, progress.blue::-webkit-progress-bar {
    background: #1888E1; 
}
progress.lightBlue::-moz-progress-bar, progress.blue::-webkit-progress-value, progress.blue::-webkit-progress-bar {
    background: #1888E1; 
}

.cardContainer a {
    text-decoration: none;
    width: fit-content;
    display: block;
}
.cardContainer .lastCreatedPage {
    width: fit-content;
    background: #1888e1;
    display: block;
    text-align: center;
    position: relative;
    font-size: 14px;
    margin-top: 10px;
    color: #fff;
    padding: 10px 25px 10px 25px;
    
}
.cardContainer .lastCreatedPage:hover {
    background: #3594e2;
}
.cardContainer .newestText {
    display: block;
    margin-top: 20px;
    font-size: 14px;
    margin-left: 20px;
    text-align: unset;
}

.circleUsers {
    position: absolute;
    border-radius: 50%;
    right: 50px;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    left: 50%;
}
.innerCircle {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    left: 50%;
}
.labelTypeOfNormal {
    position: absolute;
    bottom: 10px;
    font-size: 14px;
    left: 20px;
}
.labelTypeOfAdmin {
    position: absolute;
    bottom: 30px;
    left: 20px;
    font-size: 14px;
}
.labelTypeOfAdmin .labelColor {
    width: 20px;
    height: 10px;
    display: inline-block;
    margin-left: 5px;
    background: #0064B4;
}
.cardContainerSecondRow {
    background: #fff;
    height: 500px;
    border-radius: 3px;
    margin: 10px;
    display: block;
    position: relative;
    width: calc(100% - 20px);
    border: 1px solid #c6c6c6;
}
.cardContainerSecondRow .container {
    padding: 20px;
}
.cardContainerSecondRow .container .grouped {
    margin: 20px 0;
    position: relative;
}
.cardContainerSecondRow .container .grouped .label.seo {
    width: 160px;
    display: inline-block;
}
.cardContainerSecondRow .container .grouped .label {
    width: 80px;
    display: inline-block;
    font-size: 14px;
}
.cardContainerSecondRow .container .grouped progress {
    background: #eaeaea;
    height: 9px;
    border: none;
    width: 50%;
    border-radius: 20px;
    margin-bottom: 3.5px;
}
.cardContainerSecondRow .container .grouped.media progress {
    width: 75% !important;
}
.cardContainerSecondRow .container .grouped.first {
    margin-top: 40px !important;
}
.cardContainerSecondRow .container .header {
    font-size: 26px;
    margin-bottom: 20px;
    color: #333;
}
.cardContainerSecondRow .container .header .small, .cardContainer .header .small {
    font-size: 16px;
    color: #333;
}
.cardContainerSecondRow .container .grouped .value {
    font-size: 12px;
    margin-left: 10px;
} 
.cardContainerSecondRow .container .amount {
    width: 100%;
    display: block;
    font-size: 22px;
    margin-top: 10px;
    color: #333;
}
.colorAdmin, .colorNormal {
    width: 20px;
    height: 10px;
    position: absolute;
    bottom: 3px;
    display: block;
    
    left: 75px;
}
.colorAdmin {
    background: #1888e1
}
.colorNormal {
    background: #72b7ee;
}
.cardContainerSecondRow .container .mediaTextContainer {
    position: absolute;
    bottom: 20px;
    font-size: 14px;
    background: #1888e1;
    right: 0;
    padding: 5px 20px 5px 20px;
    color: #fff;
}
.cardContainerSecondRow .container .mediaTextContainer .mediaText {
    display: block;
}