.main-container {
    margin: 20px;
}
#sidebar {
    background: #1d242f;
    z-index: unset;
    left: 0 !important;
}
#navigationMenu #dropdownItems {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 70px;
}
.sidebarContainer {
    margin: 0 !important;
}
#navigationMenu #dropdownItems .dropdownItem {
    background: #1d242f;
    color: #fff;
    border-bottom: 1px solid #1d242f;
    padding: 10px 0px 10px 25px;
    font-size: 16px;
}
#navigationMenu #dropdownItems .dropdownItem .count {
    background: #dfaf42;
    float: right;
    margin-right: 20px;
    color: #0c203d;
    width: 20px;
    text-align: center;
    font-size: 12px;
}
#navigationMenu #dropdownItems .dropdownItem:hover {
    cursor: pointer;
    color: #c6c6c6;
}
#navigationMenu #dropdownItems .dropdown {
    padding: 0;
}
#navigationMenu #dropdownItems .dropdown li {
    width: 100%;
    background: #171d26;
    padding: 8px 0px 8px 35px;
    color: #fff;
    font-size: 14px;
}
#navigationMenu #dropdownItems .dropdown li a {
    color: #c6c6c6;
    text-decoration: none;
}
#navigationMenu #dropdownItems .dropdown li a:hover {
    color: #fff;
}
.profile {
    margin: 20px;
    background: #fff;
    padding: 10px;
    border-radius: 3px;
}

#navigationMenu .button {
    background: #4f80c8;
    border-color: #4f80c8;
    border-radius: 3px;
    color: #fff;
    margin-top: 20px;
    margin-left: 20px;
    width: 50px;
    text-align: center;
    padding: 8px;
}

#navigationMenu .button:hover {
    cursor: pointer;
    background: #83a7db;
    border-color: #83a7db;
}
.cardContainer {
    width: 95%;
    height: 150px;
    border-radius: 3px;
    background: #fff;
    display: block;
    position: relative;
    margin: 10px;
}
.cardContainer .header {
    width: 100%;
    display: block;
    font-size: 26px;
    padding: 20px 0px 10px 20px;
}
.cardContainer .amount {
    width: 100%;
    display: block;
    font-size: 22px;
    padding-left: 20px;
}
.cardContainer .label {
    position: absolute;
    bottom: 30px;
    left: 20px;
    font-size: 14px;
}
.cardContainer .bar {
    position: absolute;
    bottom: 10px;
    left: 20px;
    background: #eaeaea;
    height: 7px;
    border-radius: 30px;
    border: none;
    width: 50%;
}
.circleUsers {
    position: absolute;
    border-radius: 50%;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    width: 70px;
    height: 70px;
}
.innerCircle {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    left: 50%;
}

.labelTypeOfNormal {
    position: absolute;
    bottom: 10px;
    font-size: 14px;
    left: 20px;
}
.labelTypeOfAdmin {
    position: absolute;
    bottom: 30px;
    left: 20px;
    font-size: 14px;
}
.labelTypeOfAdmin .labelColor {
    width: 20px;
    height: 10px;
    display: inline-block;
    margin-left: 5px;
    background: #0064B4;
}