.main-container {
    margin: 20px;
}
#sidebar {
    background: #1d242f;
    z-index: unset;
    left: 0 !important;
}
#navigationMenu #dropdownItems {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 70px;
}
.sidebarContainer {
    margin: 0 !important;
}
#navigationMenu #dropdownItems .dropdownItem {
    background: #1d242f;
    color: #fff;
    border-bottom: 1px solid #1d242f;
    padding: 10px 0px 10px 25px;
    font-size: 16px;
}
#navigationMenu #dropdownItems .dropdownItem .count {
    background: #dfaf42;
    float: right;
    margin-right: 20px;
    color: #0c203d;
    width: 20px;
    text-align: center;
    font-size: 12px;
}
#navigationMenu #dropdownItems .dropdownItem:hover {
    cursor: pointer;
    color: #c6c6c6;
}
#navigationMenu #dropdownItems .dropdown {
    padding: 0;
}
#navigationMenu #dropdownItems .dropdown li {
    width: 100%;
    background: #171d26;
    padding: 8px 0px 8px 35px;
    color: #fff;
    font-size: 14px;
}
#navigationMenu #dropdownItems .dropdown li a {
    color: #c6c6c6;
    text-decoration: none;
}
#navigationMenu #dropdownItems .dropdown li a:hover {
    color: #fff;
}
.profile {
    margin: 20px;
    background: #fff;
    padding: 10px;
    border-radius: 3px;
}

#navigationMenu .button {
    background: #4f80c8;
    border-color: #4f80c8;
    border-radius: 3px;
    color: #fff;
    margin-top: 20px;
    margin-left: 20px;
    width: 50px;
    text-align: center;
    padding: 8px;
}

#navigationMenu .button:hover {
    cursor: pointer;
    background: #83a7db;
    border-color: #83a7db;
}
.cardContainer {
    width: 95%;
    height: 280px;
    border-radius: 3px;
    background: #fff;
    display: block;
    position: relative;
    margin: 10px;
}
.cardContainer .header {
    width: 100%;
    display: block;
    font-size: 26px;
    padding: 20px 0px 10px 20px;
}
.cardContainer .amount {
    width: 100%;
    display: block;
    font-size: 22px;
    padding-left: 20px;
}
.cardContainer .label {
    position: absolute;
    bottom: 30px;
    left: 20px;
    font-size: 14px;
}
.cardContainer .bar2 {
    position: absolute;
    bottom: 60px;
    left: 20px;
    background: #eaeaea;
    height: 7px;
    border-radius: 30px;
    border: none;
    width: 75%;
}
.cardContainer .bar3 {
    position: absolute;
    bottom: 110px;
    left: 20px;
    background: #eaeaea;
    height: 7px;
    border-radius: 30px;
    border: none;
    width: 75%;
}
.cardContainer .label2 {
    position: absolute;
    bottom: 80px;
    left: 20px;
    font-size: 14px;
}
.cardContainer .label3 {
    position: absolute;
    bottom: 130px;
    left: 20px;
    font-size: 14px;
}
.cardContainer .bar {
    position: absolute;
    bottom: 10px;
    left: 20px;
    background: #eaeaea;
    height: 7px;
    border-radius: 30px;
    border: none;
    width: 75%;
}
.cardContainer a {
    text-decoration: none;
    width: fit-content;
    display: block;
}
.cardContainer .lastCreatedPage {
    width: fit-content;
    background: #1888e1;
    padding: 10px;
    padding-left: 10px;
    display: block;
    text-align: center;
    position: relative;
    font-size: 14px;
    margin-top: 10px;
    color: #fff;
    padding-left: 20px;
    
}
.cardContainer .lastCreatedPage:hover {
    background: #3594e2;
}
.cardContainer .newestText {
    display: block;
    margin-top: 20px;
    font-size: 14px;
    margin-left: 20px;
    text-align: unset;
}

.circleUsers {
    position: absolute;
    border-radius: 50%;
    right: 50px;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    left: 50%;
}
.innerCircle {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    left: 50%;
}
.labelTypeOfNormal {
    position: absolute;
    bottom: 10px;
    font-size: 14px;
    left: 20px;
}
.labelTypeOfAdmin {
    position: absolute;
    bottom: 30px;
    left: 20px;
    font-size: 14px;
}
.labelTypeOfAdmin .labelColor {
    width: 20px;
    height: 10px;
    display: inline-block;
    margin-left: 5px;
    background: #0064B4;
}
.progressContainer {
    width: 97.5%;
    background: #fff;
    height: 500px;
    border-radius: 3px;
    margin: 10px;
    display: block;
    position: relative;
}
/*.progressContainer .container {
    position: absolute;
    bottom: 20px;
}
.progressContainer .container progress {
    transform: rotate(270deg);
    background: #eaeaea;
    height: 75px;
    border: none;
    width: 75%;
}*/
.progressContainer .container {
    padding: 20px;
}
.progressContainer .container .grouped {
    margin: 20px 0;
    position: relative;
}
.progressContainer .container .grouped .label.seo {
    width: 160px;
    display: inline-block;
}
.progressContainer .container .grouped .label {
    width: 80px;
    display: inline-block;
    font-size: 14px;
}
.progressContainer .container .grouped progress {
    background: #eaeaea;
    height: 9px;
    border: none;
    width: 50%;
    border-radius: 20px;
    margin-bottom: 3.5px;
}
.progressContainer .container .grouped.media progress {
    width: 75% !important;
}
.progressContainer .container .grouped.first {
    margin-top: 40px !important;
}
.progressContainer .container .header {
    font-size: 26px;
    margin-bottom: 20px;
}
.progressContainer .container .header .small, .cardContainer .header .small {
    font-size: 16px;
}
.progressContainer .container .grouped .value {
    font-size: 12px;
    margin-left: 10px;
} 
.progressContainer .container .amount {
    width: 100%;
    display: block;
    font-size: 22px;
    margin-top: 10px;
}
.colorAdmin, .colorNormal {
    width: 20px;
    height: 10px;
    position: absolute;
    bottom: 3px;
    display: block;
    
    left: 75px;
}
.colorAdmin {
    background: #1888e1
}
.colorNormal {
    background: #72b7ee;
}
.progressContainer .container .mediaTextContainer {
    position: absolute;
    bottom: 20px;
    font-size: 18px;
    background: #1888e1;
    right: 0;
    padding: 5px 20px 5px 20px;
    color: #fff;
}
.progressContainer .container .mediaTextContainer .mediaText {
    display: block;
}