/*
    Index pages
*/
.index-container {
    margin-left: 5%;
}
.headerContainer {
    margin-bottom: 10px;
    position: relative;
}
.headerContainer h1 {
    display: inline-block;
    font-size: 23px;
    color: #144080;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 0;
}
.headerContainer .badge {
    font-size: 11px;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    background: #144080;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}
.headerContainer .badge.pages {
    left: 77px;
}
.headerContainer .badge.categories {
    left: 127px;
}
.headerContainer .badge.menus {
    left: 82px;
}
.headerContainer .badge.css {
    left: 51px;
}
.headerContainer .badge.js {
    left: 28px;
}
.headerContainer .badge.media {
    left: 73px;
}
.index-container .create, .index-container .delete {
    font-size: 14px;
    font-weight: 500;
}
.index-container .create {
    color: #3d6eb5;
}
.index-container .create:hover {
    color: #144080;
}
#search {
    width: 500px;
    padding: 5px 5px;
    box-sizing: border-box;
    font-size: 13px;
    margin-top: 8px;
    margin-bottom: 0;
}
#search:focus {
    outline: none;
}

/*
    Table
*/
table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 13px;
    width: 100%;
    float: right;
    margin-top: 10px;
    margin-bottom: 20px;
}
table td a {
    text-decoration: none;
    color: #144080;
}
table td .button {
    background: #42971c !important;
    border: 1px solid #2e7d0b !important;
    width: 50px !important;
    margin: 0 auto !important;
    font-size: 14px !important;
}
table td .button:hover {
    cursor: pointer;
    background: #2e7d0b !important;
    color: #fff !important;
}
table td a:hover {
    color: #3b75ca;
}
table td, table th {
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 10px;
}
  
table tr:nth-child(even){
    background-color: #f2f2f2;
    border: 1px solid #ddd;
}
table tr:hover {
    background-color: #ddd;
}
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-weight: 300;
}
table thead {
    border: 1px solid #ddd; 
}
.removed {
    color: #333 !important;
}
.color-red:hover {
    color: red !important;
}
.indexDeleteForm {
    display: inline-block;
}
.indexDeleteForm input {
    border: none;
    background: none;
    color: rgb(199, 48, 48) !important;
    padding: 0;
    font-size: 13px;
    text-decoration: underline;
}
.indexDeleteForm input:hover {
    color: red !important;
    cursor: pointer;
}