#sidebar {
    background: #fff;
    z-index: 9999;
    left: 0 !important;
    box-shadow: 2px 0px 2px -2px rgba(0,0,0,.2);
    top: -1px !important;
    border-right: 1px solid #bdbdbd;
}
#navigationMenu {
    margin-top: 30px;
}
.nestedDropdownItem img {
    width: 8px !important;
    margin-right: 10px !important;
    margin-bottom: 2px !important;
}
#dropdownItems .dropdownItem img {
    width: 20px;
    margin-right: 15px;
    margin-bottom: -3px;
}
.dropdown .add {
    width: 10px;
    position: absolute;
    top: 8px;
    left: 111px;
}
.arrowUp {
    width: 10px;
    position: absolute;
    top: 12px;
    left: 160px;
}
#navigationMenu #dropdownItems {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 20px;
}
.sidebarContainer {
    margin: 0 !important;
    width: 100% !important;
}
#navigationMenu #dropdownItems .dropdownItem {
    background: #fff;
    color: #333;
    padding: 10px 0px 10px 20px;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
}
#navigationMenu #dropdownItems .dropdownItem:hover {
    cursor: pointer;
    background: #f0f0f0;
}
#navigationMenu #dropdownItems .dropdown {
    padding: 0;
}
#navigationMenu #dropdownItems .dropdown li {
    font-size: 14px;
    padding: 8px 0px 8px 50px;
    margin-left: 25px;
    margin-right: 20px;
    border-radius: 5px;
    list-style: none;
    position: relative;
    color: #797979;
}
#navigationMenu #dropdownItems .dropdown a {
    text-decoration: none;
}
#navigationMenu #dropdownItems .dropdown li:hover {
    cursor: pointer;
    background: #f0f0f0;
}
.nestedDropdownItem {
    padding-left: 33px !important;
    color: #333 !important;
}
.nestedItem {
    padding-left: 60px !important;
}
#navigationMenu .button {
    background: #4f80c8;
    border-color: #4f80c8;
    border-radius: 3px;
    color: #0e6da6;
    margin-top: 20px;
    margin-left: 20px;
    width: 50px;
    text-align: center;
    padding: 8px;
}
.sidebarSeparation {
    border-top: 1px solid #142946;
    display: block;
    margin: 10px 0;
}
#navigationMenu .button:hover {
    cursor: pointer;
    background: #83a7db;
    border-color: #83a7db;
}
#dropdownItems a {
    text-decoration: none;
}