/*
    Create section
*/

.create-container {
    margin: 50px;
}
.create-container h1 {
    font-size: 22px;
    color: #004297;
}
.uploadFileForm {
    margin-top: 20px;
}
.uploadFileForm label {
    color: #fff;
    display: block;
    margin-bottom: 10px;
}
.uploadFileForm #media_title {
    padding: 10px;
    font-size: 13px;
    border-radius: 3px;
    background: #fff;
    width: 500px;
    border: 1px solid #aaa;
}
.uploadFileForm #media_title:focus-visible {
    outline: none;
}
.uploadFileForm textarea {
    width: 500px;
    height: 50px;
    border-radius: 3px;
    padding: 10px;
    background: #fff;
    border: 1px solid #aaa;
    font-size: 13px;
}
.uploadFileForm .error-messages {
    margin-top: 10px;
}
.filesContainer {
    height: 80vh;
    overflow-y: auto;
    background: #fff;
    padding: 10px;
    border: 1px solid #c6c6c6;
    margin: 50px;
    position: relative;
}
.fileContainer {
    list-style: none;
    margin: 5px;
    position: relative;
    overflow: hidden;
}
.fileContainer:hover {
    cursor: pointer;
}

.fileContainer .layer {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 3px;
    background: #000;
    opacity: 0;
    transition: 0.3s;
}
.fileContainer:hover > .layer {
    opacity: 0.7;
    cursor: pointer;
}
.fileContainer .mediaTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-align: center;
}
.fileContainer .file {
    width: 100px;
    object-fit: cover;
    border: 2px solid #fff;
    height: 100px;
}
.fileContainer.show {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: rgb(230, 230, 230);
    margin: 0;
    box-sizing: border-box;
}
.fileContainer.show .file {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    max-width: 500px;
    max-height: 500px;
    border: unset;
}
.fileContainer.show iframe {
    width: 75% !important;
    height: 75% !important;
}
.fileContainer.folder:hover .folderText {
    color: #004297;
}
.fileContainer.folder .folderText:hover {
    color: #004297;
}
.fileContainer.folder img {
    object-fit: unset;
    border: 2px solid #fff;
}
.fileContainer.folder .folderText {
    position: absolute;
    bottom: 8px;
    left: 0;
    color: #4f80c8;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-align: center;
}

.fileInfoContainer {
    color: #fff;
}
.fileInfoContainer p {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fileInfoContainer a {
    background: #4f80c8;
    color: #fff !important;
    border: 2px solid #4f80c8;
    width: 46px;
    text-align: center;
    border-radius: 3px;
}
.fileInfoContainer a:hover {
    background: #83a7db;
    border-color: #83a7db;
}
.fileContainer.show:hover > .layer {
    display: none !important;
}
.fileContainer.show:hover {
    cursor: pointer;
    background: rgb(189, 189, 189);
}
.filterForm select {
    width: 100%;
    border-radius: 3px;
    border: none;
    margin-top: 10px;
    height: 170px;
}
.filterForm option {
    padding: 4px 0 4px 10px;
}
.rangerContainer {
    width: 100%;
    position: relative;
}
.crumPath {
    position: absolute;
    left: 130px;
    top: 20px;
    font-size: 14px;
}
.folderPath {
    color: #333;
}
.folderPath:hover {
    color: #3d6eb5;
}
.separator {
    margin: 0 10px;
}
#ranger {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
}
.selected-delete {
    border: 2px solid rgb(255, 11, 11) !important;
}
.selected {
    border: 2px solid #2374FE !important;
}
.folderForm input[type="text"] {
    position: absolute;
    top: 3px;
    right: 115px;
    padding: 5px;
    margin-top: 10px;
    border-radius: 3px;
    font-size: 13px;
    border: 1px solid #c8c8c8;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.folderForm input[type="text"]:focus-visible {
    outline: none;
}
.folderForm input[type="submit"] {
    position: absolute;
    right: 51px;
    top: 15px;
    border: none;
    background: #4f80c8;
    border-radius: 3px;
    padding: 5px;
    color: #fff;
    font-size: 12px;
}
.folderForm input[type="submit"]:hover {
    background: #83a7db;
    cursor: pointer;
}
.deleteSelection {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 999999;
}
.iframeLayer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    background: rgba(0,0,0,0.0);
}
.total {
    position: absolute;
    top: 20px;
    left: 50px;
    color: #333;
    font-size: 14px;
}
/*
    Sidebar
*/
.mainButtonContainer, .buttonContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.filterForm .button {
    margin-top: 20px;
}
.mainButtonContainer a, .mainButtonContainer label, .buttonContainer label, .filterForm .button, .deleteForm .button {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    border-radius: 4px;
    padding: 0 20px;
    transition: 0.3s;
    font-size: 16px;
}
.mainButtonContainer label {
    margin-right: 20px;
    color: #fff;
    background: #42971c;
    border: 1px solid #42971c;
}
.mainButtonContainer label:hover {
    background: #6ba152;
    border: 1px solid #6ba152;
}
.mainButtonContainer a, .buttonContainer label, .filterForm .button, .deleteForm .button {
    border: 1px solid #fff;
    background: rgba(0,0,0,0.1);
    color: #fff;
    margin-right: 20px;
}
.mainButtonContainer a:hover, .buttonContainer label:hover, .filterForm .button:hover, .deleteForm .button:hover {
    background: #fff;
    color: #000;
}
.mainButtonContainer label:hover, .buttonContainer label:hover, .filterForm .button:hover, .deleteForm .button:hover {
    cursor: pointer;
}
.text {
    display: block;
    margin-top: 20px;
    color: #fff;
}
.data {
    display: block;
    background: #fff;
    border-radius: 3px;
    padding: 10px;
    margin-top: 10px;
}

.data.type {
    padding: 5px 10px;
}
.searchFrom {
    width: 100%;
}
.searchFormCreate input[type="text"] {
    position: absolute;
    top: 3px;
    left: 130px;
    padding: 5px;
    margin-top: 10px;
    border-radius: 3px;
    font-size: 13px;
    border: 1px solid #c8c8c8;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.searchFormCreate input[type="submit"] {
    position: absolute;
    left: 300px;
    top: 15px;
    border: none;
    background: #4f80c8;
    border-radius: 3px;
    padding: 5px;
    color: #fff;
    font-size: 12px;
}
.searchFormCreate input[type="submit"]:hover {
    cursor: pointer;
    background: #83a7db;
}
.searchFormCreate input:focus-visible {
    outline: none;
}
#currentFile {
    width: 100%;
    background: #fff;
    margin-top: 20px;
    height: 200px;
    overflow: hidden;
    position: relative;
}
#currentFile img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    padding: 5%;
    height: auto;
    object-fit: cover;
    text-align: center;
}
#currentFile iframe {
    width: 90%;
    padding: 5%;
    height: 90%;
    border: none;
}
#currentFile video {
    padding: 5%;
    height: 80%;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 80%;
    background: #000;
    margin: 5%;
}
.infoContainer {
    background: #f2f2f2;
    border-top: 1px solid #d5d3d3;
    height: auto;
    width: 100%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.infoContainer #currentFilename {
    margin-top: 8px;
    width: 100%;
    box-sizing: border-box;
    padding: 4px 0px 4px 8px;
    border: 1px solid #cacaca;
    border-radius: 3px;
}
.infoContainer .infoPart #update {
    font-size: 12px !important;
    margin-top: 10px !important;
    width: 50px !important;
}
.infoContainer .infoPart #MESSAGE {
    margin-top: 5px;
}
.infoContainer .infoPart:nth-child(3) {
    margin: 0;
}
.infoContainer .infoPart {
    margin-bottom: 10px;
    font-size: 14px;
    color: #000;
    border-bottom: 1px solid #d9d9d9;
    padding: 5%;
}
.infoContainer .infoPart:nth-child(3) {
    border: none;
}
.infoContainer .infoText {
    font-weight: bold;
}
.infoContainer .infoData {
    display: block;
    margin-top: 5px;
}
/*
    modal
*/
.modal-edit, .modal-create {
    position: absolute !important;
    top: 50%;
    transform: translate(-50%, -50%) !important;
    width: 600px !important;
    height: 500px !important;
}

#imageSmall, #pdfSmall {
    width: 80px;
    max-height: 44px;
}
#title {
    border: 0;
    font-size: 30px;
    padding: 0;
    margin-top: 10px;
    background: none;
    width: 95%;
}
#filename {
    border: 0;
    font-size: 30px;
    padding: 0;
    margin-top: 10px;
}
#filename:focus {
    outline: none;
}
.mediaFilename {
    border: 1px solid #aaa;
    width: 75%;
    font-size: 11px;
    padding: 5px 0px 5px 10px;
    border-radius: 3px;
    margin-top: 5px;
}
.mediaFilename:focus {
    outline: none;
}
#updateMediaModal {
    background: #42971c;
    font-size: 14px;
    padding: 10px;
    left: 50px;
    border: 2px solid #42971c;
    bottom: 50px;
    border-radius: 3px;
    position: absolute;
    color: #fff !important;
}
#updateMediaModal:hover {
    background: #6ba152;
    border-color: #6ba152;
}
#mediaModalClose {
    background: #4f80c8;
    color: #fff !important;
    border: 2px solid #4f80c8;
    padding: 10px;
    margin-left: 20px;
    border-radius: 3px;
    position: absolute;
    bottom: 50px;
    font-size: 14px;
    left: 110px;
}
#mediaModalClose:hover {
    background: #83a7db;
    border-color: #83a7db;
}


.mediaModalFormContainer {
    position: absolute;
    left: 50px;
    color: #000;
    top: 50px;
    right: 50px;
}

#mediaModelForm label {
    display: block;
    margin-bottom: 10px;
}

.mediaModalFormContainer input {
    width: 100%;
    box-sizing: border-box;
    color: #000;
    margin-bottom: 20px;
    border: 1px solid #aaa;
    padding: 10px;
    border-radius: 3px;
}

.mediaModalFormContainer textarea {
    width: 100%;
    box-sizing: border-box;
    height: 150px;
    color: #000;
    border: 1px solid #aaa;
    padding: 10px;
    border-radius: 3px;
}

.mediaModalFormContainer textarea, .mediaModalFormContainer input:focus {
    outline: none;
}

#modal a {
    color: #000;
}

#mediaPreviewFile {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 60%;
    max-height: 60%;
    z-index: 999;
}
#mediaPreviewFile:hover {
    cursor: pointer;
}
#mediaPreview iframe {
    width: 60%;
    height: 60%;
}

#mediaPreviewClose {
    position: fixed;
    top: 100px;
    right: 100px;
    z-index: 99;
    color: #fff;
    border-radius: 4px;
    transition: 0.3s;
    font-size: 16px;
    text-decoration: none;
    background: #4f80c8;
    border: 2px solid #4f80c8;
    padding: 12px;
}
#mediaPreviewClose:hover {
    background: #83a7db;
    border-color: #83a7db;
}
#update {
    background: #42971c;
    border-radius: 3px;
    border-color: #42971c;
    color: #fff;
    width: 36px;
}
#update:hover {
    background: #6ba152;
    border-color: #6ba152;
    cursor: pointer;
}
.modalUpdateMessage {
    margin-top: 10px;
}
.message-failed {
    color: rgb(199, 48, 48);
}
.message-success {
    color: #42971c;
}
.message-failed-media-title {
    display: block;
}
.message-failed-media-description {
    display: block;
    margin-top: 10px;
}