/*
    Create section
*/

.create-container {
    margin-top: 20px;
    margin-left: 5%;
}
.create-container h1 {
    font-size: 22px;
    color: #004297;
}
.uploadFileForm #media_title {
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
    background: #fff;
    width: 500px;
    margin-bottom: 20px;
    border: 1px solid #aaa;
}
.uploadFileForm #media_title:focus-visible {
    outline: none;
}
.uploadFileForm textarea {
    width: 500px;
    height: 50px;
    border-radius: 3px;
    padding: 10px;
    background: #fff;
    border: 1px solid #aaa;
    margin-bottom: 20px;
}

/*
    Sidebar
*/
.mainButtonContainer, .buttonContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.mainButtonContainer a, .mainButtonContainer label, .buttonContainer label {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    border-radius: 4px;
    padding: 0 20px;
    transition: 0.3s;
    font-size: 16px;
}
.mainButtonContainer label {
    margin-right: 20px;
    color: #fff;
    background: #42971c;
    border: 1px solid #42971c;
}
.mainButtonContainer label:hover {
    background: #6ba152;
    border: 1px solid #6ba152;
}
.mainButtonContainer a, .buttonContainer label {
    border: 1px solid #fff;
    background: rgba(0,0,0,0.1);
    color: #fff;
}
.mainButtonContainer a:hover, .buttonContainer label:hover {
    background: #fff;
    color: #000;
}
.mainButtonContainer label:hover, .buttonContainer label:hover {
    cursor: pointer;
}
.text {
    display: block;
    margin-top: 20px;
    color: #fff;
}
.data {
    display: block;
    background: #fff;
    border-radius: 3px;
    padding: 10px;
    margin-top: 10px;
}

/*
    modal
*/
.modal-edit {
    position: absolute !important;
    top: 50%;
    transform: translate(-50%, -50%) !important;
    width: 600px !important;
    height: 500px !important;
}

#media_description:focus {
    outline: none;
}
#imageSmall, #pdfSmall {
    width: 80px;
    max-height: 44px;
}
#title, #media_title {
    border: 0;
    font-size: 30px;
    padding: 0;
    margin-top: 10px;
    background: none;
    width: 95%;
}
#filename {
    border: 0;
    font-size: 30px;
    padding: 0;
    margin-top: 10px;
}
#filename:focus {
    outline: none;
}
.mediaFilename {
    border: 1px solid #aaa;
    width: 75%;
    font-size: 11px;
    padding: 5px 0px 5px 10px;
    border-radius: 3px;
    margin-top: 5px;
}
.mediaFilename:focus {
    outline: none;
}
#updateMediaModal {
    background: #42971c;
    font-size: 14px;
    padding: 10px;
    left: 50px;
    border: 2px solid #42971c;
    bottom: 50px;
    border-radius: 3px;
    position: absolute;
    color: #fff !important;
}
#updateMediaModal:hover {
    background: #6ba152;
    border-color: #6ba152;
}
#mediaModalClose {
    background: #4f80c8;
    color: #fff !important;
    border: 2px solid #4f80c8;
    padding: 10px;
    margin-left: 20px;
    border-radius: 3px;
    position: absolute;
    bottom: 50px;
    font-size: 14px;
    left: 110px;
}
#mediaModalClose:hover {
    background: #83a7db;
    border-color: #83a7db;
}


.mediaModalFormContainer {
    position: absolute;
    left: 50px;
    color: #000;
    top: 50px;
    right: 50px;
}

#mediaModelForm label {
    display: block;
    margin-bottom: 10px;
}

.mediaModalFormContainer input {
    width: 100%;
    box-sizing: border-box;
    color: #000;
    margin-bottom: 20px;
    border: 1px solid #aaa;
    padding: 10px;
    border-radius: 3px;
}

.mediaModalFormContainer textarea {
    width: 100%;
    box-sizing: border-box;
    height: 150px;
    color: #000;
    border: 1px solid #aaa;
    padding: 10px;
    border-radius: 3px;
}

.mediaModalFormContainer textarea, .mediaModalFormContainer input:focus {
    outline: none;
}

#modal a {
    color: #000;
}

#mediaPreviewFile {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 60%;
    max-height: 60%;
    z-index: 999;
}

#mediaPreview iframe {
    width: 60%;
    height: 60%;
}

#mediaPreviewClose {
    position: fixed;
    top: 100px;
    right: 100px;
    z-index: 99;
    font-size: 24px;
    color: #fff;
}
#update {
    background: #42971c;
    border-radius: 3px;
    border-color: #42971c;
    color: #fff;
    width: 36px;
}
#update:hover {
    background: #6ba152;
    border-color: #6ba152;
    cursor: pointer;
}
.modalUpdateMessage {
    margin-top: 10px;
}
.message-failed {
    color: rgb(199, 48, 48);
}
.message-success {
    color: #42971c;
}
.message-failed-media-title {
    display: block;
}
.message-failed-media-description {
    display: block;
    margin-top: 10px;
}