.edit-container, .create-container {
    margin-top: 20px;
    margin-left: 5%;
}
.hiddenButton {
    display: none !important;
}
#title {
    outline: none;
    border: none;
    background: none;
    font-size: 22px;
    margin-bottom: 20px;
}
#slug {
    border: none;
    width: 95%;
    font-size: 13px;
    padding: 0;
    margin-top: 0;
}

/*
    Metadata
*/
.metaDataForm {
    margin-top: 65px;
    margin-left: 70px;
}
.metaDataForm input {
    border: none;
    padding: 0;
    font-size: 13px;
}
.metaDataForm label {
    color: #0c203d;
}
.metaDataForm input:focus {
    outline: none;
}
.metaDataForm textarea:focus {
    outline: none;
}
.metaDataForm textarea {
    width: 95%;
    height: 100px;
    font-size: 13px;
    margin-top: 10px;
}
.metaDataForm button {
    margin-top: 20px;
}