.pagination {
    padding: 0;
    margin-left: -38px;
}
.pagination ul {
    list-style-type: none;
}
.pagination li {
    display: inline-block;
}
.pagination .page-item {
    margin-right: 5px;
}
.pagination .page-item a {
    color: #fff;
    background: #0c203d;
    padding: 8px;
    margin: 0;
    text-decoration: none;
    font-weight: 300;
}
/*.previous a {
    border-radius: 3px;
}
.next a {
    border-radius: 3px;
}*/

