.edit-container, .create-container, .read-container {
    margin-top: 20px;
    margin-left: 5%;
}

h1 {
    font-size: 28px;
    color: #004297;
    margin-top: 50px;
}
.usersCreateForm, .usersEditForm {
    overflow: hidden;
    width: 92%;
    margin-top: 10px;
}
.usersCreateForm .form-parts label, .usersEditForm .form-parts label {
    display: block;
    font-size: 18px;
}

.usersCreateForm .form-parts input, .usersCreateForm .form-parts select, .usersEditForm .form-parts input, .usersEditForm .form-parts select {
    height: 38px;
    width: 75%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
    background: #fff;
    padding-left: 10px;
    border: 1px solid #aaa;
    box-sizing: border-box;
}
.usersCreateForm .form-parts input:focus-visible, .usersEditForm .form-parts input:focus-visible {
    outline: none;
}

.usersCreateForm .button {
    margin-top: 10px;
    font-size: 14px;
}
.usersCreateForm .button:hover {
    cursor: pointer;
}





/*
    Sidebar
*/
.mainButtonContainer, .buttonContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.mainButtonContainer a, .mainButtonContainer label, .updateRoleButton, .buttonContainer a, .buttonContainer input {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    border-radius: 4px;
    padding: 0 20px;
    transition: 0.3s;
    font-size: 16px;
}
.mainButtonContainer label {
    margin-right: 20px;
    color: #fff;
    background: #42971c;
    border: 1px solid #42971c;
}
.mainButtonContainer label:hover {
    background: #6ba152;
    border: 1px solid #6ba152;
}
.mainButtonContainer a, .updateRoleButton, .buttonContainer a, .buttonContainer input {
    border: 1px solid #fff;
    background: rgba(0,0,0,0.1);
    color: #fff;
}
.mainButtonContainer a:hover, .updateRoleButton:hover, .buttonContainer a:hover, .buttonContainer input:hover {
    background: #fff;
    color: #000;
}
.mainButtonContainer label:hover, .updateRoleButton:hover, .buttonContainer a:hover, .buttonContainer input:hover {
    cursor: pointer;
}

.text {
    color: #fff;
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
}

.data {
    background: #fff;
    width: 100%;
    display: block;
    padding: 10px;
    border-radius: 3px;
}

/*
    Profile
*/
.profileUpdateRoleForm {
    margin-top: 20px;
    color: #fff;
}
.profileUpdateRoleForm select {
    width: 100%;
    background: #fff;
    border: none;
    padding: 10px;
    border-radius: 3px;
    overflow: hidden;
    height: 44px;
    margin: 20px 0 10px 0;
}
.profileUpdateRoleForm select option {
    padding: 4px 0 4px 10px;
}