.edit-container, .create-container, .read-container {
    margin-top: 20px;
    margin-left: 5%;
}
/*
    Index
*/
.isAdmin {
    color: #4f80c8;
}

h1 {
    font-size: 28px;
    color: #004297;
    margin-top: 50px;
}
.usersCreateForm, .usersEditForm {
    overflow: hidden;
    width: 92%;
    margin-top: 10px;
}
.usersCreateForm .form-parts label, .usersEditForm .form-parts label {
    display: block;
    font-size: 16px;
}
.deleteAccountForm input[type="submit"] {
    height: 100%;
}
.usersCreateForm .form-parts input, .usersCreateForm .form-parts select, .usersEditForm .form-parts input, .usersEditForm .form-parts select {
    height: 38px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
    background: #fff;
    padding-left: 10px;
    border: 1px solid #aaa;
    box-sizing: border-box;
}
.usersCreateForm .form-parts input:focus-visible, .usersEditForm .form-parts input:focus-visible {
    outline: none;
}

.usersCreateForm .button {
    margin-top: 10px;
    font-size: 14px;
}
.usersCreateForm .button:hover {
    cursor: pointer;
}
/*
    Sidebar
*/
.mainButtonContainer, .buttonContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.buttonContainer:nth-child(2) {
    margin-top: 20px;
    margin-bottom: 50px;
}

.text {
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
    font-size: 14px;
}

.data {
    background: #fff;
    width: 100%;
    display: block;
    padding: 10px;
    border-radius: 3px;
}

/*
    Profile
*/
.profileUpdateRoleForm {
    margin-top: 20px;
    color: #333;
}
.profileUpdateRoleForm label {
    font-size: 14px;
}
.profileUpdateRoleForm select {
    width: 100%;
    background: #fff;
    border: none;
    padding: 10px;
    border-radius: 3px;
    overflow: hidden;
    height: 44px;
    margin: 10px 0 10px 0;
}
.profileUpdateRoleForm select option {
    padding: 4px 0 4px 10px;
}