.edit-container, .create-container, .read-container {
    margin-top: 20px;
    margin-left: 5%;
}
#title {
    outline: none;
    font-size: 16px;
    margin-bottom: 20px;
    width: 95%;
    border: 1px solid #aaa;
    box-sizing: border-box;
    padding: 10px 0px 10px 10px;
    border-radius: 3px;
}
#editorForm {
    position: relative;
}
.CodeMirror.cm-s-monokai {
    background: #161e2b !important;
}
.cm-s-monokai .CodeMirror-linenumber {
    background: #161e2b !important;
}
.CodeMirror {
    position: absolute !important;
    width: 95% !important;
    height: 80vh !important;
}
.fullscreen {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    width: 100% !important;
    height: 100% !important;
}
.message-container.success {
    color: #42971c;
    margin-bottom: 10px;
    margin-top: -10px;
    font-size: 14px;
}