#navbar {
    position: relative;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    height: 50px;
    background: #fff;
    width: 100%;
    z-index: 9999;
    top: 0;
}
#navbar #logo {
    margin-left: 5%;
    margin-top: 5px;
    width: 40px;
    position: relative;
    z-index: 9999999;
}
#navbar .navbarItems {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}
#navbar .navbarItems li {
    list-style-type: none;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
#navbar .navbarItems li:nth-child(1), #navbar .navbarItems li:nth-child(1) a {
    padding-left: 0;
    margin-left: 0;
}
#navbar .navbarItems li a {
    padding-left: 20px;
    text-decoration: none;
    font-weight: 300;
    color: #626262;
}
#navbar .navbarItems li a:hover {
    color: #3d6eb5;
}
#navbar .navbarItems li a span {
	padding-left: 20px;
}
#navbar .profileContainer {
    position:absolute;
    right: 100px;
    top: 0;
}
#profileIcon {
    position: relative;
    z-index: 2;
}
#navbar .profileContainer .profileIcon {
    width: 35px;
    height: 35px;
    text-transform: uppercase;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    font-weight: bold;
    background: #499df7;
    color: #fff;
    border: 2px solid #0865ca;
    user-select: none;
}
#navbar .profileContainer .profileIcon:hover {
    cursor: pointer;
    background: #0865ca;
}
#navbar .profileContainer ul {
    left: unset;
    position: relative !important;
}
#navbar #profileDropdown {
    display: none;
    background: #fff;
    padding: 25px;
    position: absolute !important;
    right: -10px;
    top: 40px;
    width: 200px;
    border-radius: 3px;
}
#navbar .triangle {
    position: absolute;
    border: 26px solid;
    border-bottom-color: white;
    z-index: 1;
    top: -35px;
    right: 2px;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}
#navbar #profileDropdown ul {
    padding: 0;
}
#navbar #profileDropdown li:nth-child(1) {
    margin-bottom: 10px;
}
#navbar #profileDropdown .profileIcon {
    margin: 0px auto 10px auto;
    background: #499df7;
    color: #fff;
    border: 2px solid #0865ca;
    font-weight: normal;
    position: relative;
    user-select: none;
}
#navbar #profileDropdown .profileIcon:hover {
    cursor: unset;
}
#navbar #profileDropdown .username {
    border: unset;
    margin-bottom: 50px;
}
#navbar #profileDropdown li {
    color: #0c203d;
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid #dfdfdf;
}
#navbar #profileDropdown a {
    text-decoration: none;
    color: #0c203d;
}
#navbar #profileDropdown a:hover {
    color: #3564a8;
}
.show-dropdown {
    display: block !important;
}