#sidebar {
    position: absolute;
    top: -50px;
    bottom: -150px;
    right: 0;
    background: #cecece;
    width: 100%;
    z-index: 9999;
    overflow: hidden;
    height: 100vh;
}
.sidebarContainer {
    height: 100%;
    width: 90%;
    position: relative;
    margin: 0 5%;
    overflow: hidden;
}
#navbar .navbarItems {
    left: calc(0% - 10%);
}
.mainButtonContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 11px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 1500px) {

    #navbar .navbarItems {
        left: calc(0% - 12.5%) !important;
    }
} 
@media only screen and (max-width: 1250px) {

    #navbar .navbarItems {
        left: calc(0% - 15%) !important;
    }

    #navbar .navbarItems li {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
} 
@media only screen and (max-width: 1000px) {

    #navbar .navbarItems {
        left: calc(0% - 18%) !important;
    }

    #navbar .navbarItems li {
        margin-left: 0 !important;
    }
    #navbar .navbarItems li a { 
        padding-left: 0 !important;
    }
} 
@media only screen and (max-width: 750px) {

     #navbar {
        display: none !important;
    }
} 