/*
    Default
*/
body {
    margin: 0;
    font-family: Roboto;
    overflow: hidden;
    background: #eaeaea;
    font-family: sans-serif;
}
p {
    font-size: 1rem;
    line-height: 1.6rem;
}
a {
    color: #0047AB;
}
h1 {
    font-size: 50px;
    color: #0047AB;
}

h2 {
    font-size: 35px;
    color: #0047AB;
}
h3 {
    font-size: 25px;
    font-weight: 500;
    color: #0047AB;
}

/*
    Text
*/
.font-weight-500 {
    font-weight: 500;
}
.bold {
    font-weight: bold;
}
.font-weight-300 {
    font-weight: 300;
}
.text-center {
    text-align: center;
}

/*
    Font sizes
*/
.font-size-14 {
    font-size: 14px;
}
.font-size-12 {
    font-size: 12px;
}
.font-size-10 {
    font-size: 10px;
}

/*
    Containers
*/
.con {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.con-page-home {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.con-page {
    width: 75%;
    margin-top: 115px;
    margin-left: auto;
    margin-right: auto;
}
.width-100 {
    display: flex;
    width: 100%;
}

/*
    Colors
*/
.text-c-pri {
    color: #0047AB;
}
.bg-c-pri {
    background: #0047AB;
}
.text-c-sec {
    color: #FFBF00 !important;
}
.color-red {
    color: rgb(199, 48, 48) !important;
}
.color-white {
    color: #fff;
}

/*
    Margin
*/
.margin-t-10 {
    margin-top: 10px;
}
.margin-t-50 {
    margin-top: 50px !important;
}
.margin-t-20 {
    margin-top: 20px;
}
.margin-y-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.margin-r-10 {
    margin-right: 10px;
}
.margin-b-10 {
    margin-bottom: 10px;
}
.margin-b-20 {
    margin-bottom: 20px;
}
.margin-b-5 {
    margin-bottom: 5px;
}
.margin-r-20 {
    margin-right: 20px;
}
.margin-r-15 {
    margin-right: 15px;
}
.margin-y-10 {
    margin: 10px 0;
}
.margin-y-20 {
    margin: 20px 0;
}
.margin-b-50 {
    margin-bottom: 50px !important;
}
.margin-b-30 {
    margin-bottom: 30px;
}
.margin-tm-10 {
    margin-top: -10px;
}
/*
    Padding
*/
.padding-y-2 {
    padding-top: 2px;
    padding-bottom: 2px;
}
.padding-b-2 {
    padding-bottom: 2px;
}
.padding-6 {
    padding: 6px !important;
}

/*
    Flex
*/
.flex-center {
    justify-content: center;
}


/*
    Columns
*/
.row {
    flex-wrap: wrap;
    display: flex;
}
.col12 {
    flex: 100%;
    position: relative;
}
.col11 {
    flex: 95%;
    position: relative;
}
.col10 {
    flex: 83.34%;
    position: relative;
}
.col9 {
    flex: 75%;
    position: relative;
}
.col8 {
    flex: 66.66%;
    position: relative;
}
.col6 {
    flex: 50%;
    position: relative;
}
.col4 {
    flex: 33.33%;
    position: relative;
}
.col3 {
    flex: 25%;
    position: relative;
}
.col2-4 {
    flex: 20%;
    position: relative;
}
.col2 {
    flex: 16.66%;
    position: relative;
}
.col1 {
    flex: 5%;
    position: relative;
}

/*
    Position
*/
.position-relative {
    position: relative;
}

/*
    Display
*/
.display-none {
    display: none;
}
.display-none-important {
    display: none !important;
}
.display-block {
    display: block;
}
.display-inline-block {
    display: inline;
}

/*
    Widths
*/
.width-90 {
    width: 90%;
}
.width-85 {
    width: 85%;
}
.width-80 {
    width: 80%;
}
.width-70 {
    width: 70%;
}
.width-65 {
    width: 65%;
}
.width-60 {
    width: 60%;
}
.width-55 {
    width: 55%;
}
.width-50 {
    width: 50%;
}
.width-10 {
    width: 10%;
}
.width-30 {
    width: 30%;
}
.width-35 {
    width: 35%;
}
.width-40 {
    width: 40%;
}
.width-25 {
    width: 25%;
}
.width-20 {
    width: 20%;
}
.width-15 {
    width: 15%;
}
.width-5 {
    width: 5%;
}
.width-50-px {
    width: 50px !important;
}
/*
    Float
*/
.float-right {
    float: right;
}
/*
    Button
*/
.buttonContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.button {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 0px 15px;
    transition: 0.3s;
    font-size: 13px;
    text-decoration: none;
    font-size: 13px;
    color: #fff;
    border: none;
    border-radius: 3px;
}
.button:hover {
    cursor: pointer;
}
.greenButton {
    background: #42971c;
    border: 1px solid #2e7d0b;
}
.greenButton:hover {
    background: #2e7d0b;
    cursor: pointer;
}
.blueButton {
    background: #4f80c8;
    border: 1px solid #2e60aa;
}
.darkBlueButton {
    background: #2e6ac1;
    border: 1px solid #003582;
}
.darkBlueButton:hover {
    background: #003582;
    cursor: pointer;
}
.blueButton:hover {
    background: #2e60aa;
    cursor: pointer;
}
.redButton {
    background: #ce3333;
    border: 1px solid rgb(174, 35, 35);
}
.redButton:hover {
    background: rgb(174, 35, 35);
}
.lightButton {
    background: #BBB;
    border: 1px solid #9B9B9B;
}
.lightButton:hover {
    background: #9B9B9B;
    cursor: pointer;
}
.darkButton {
    background: #9B9B9B;
    border: 1px solid #717171;
}
.darkButton:hover {
    background: #717171;
    cursor: pointer;
}

/*
    Box sizing
*/
.box-sizing-border-box {
    box-sizing: border-box;
}

/*
    Select
*/
select {
    border-radius: 3px 0px 0px 3px;
    border: 1px solid #a2a2a2;
    box-sizing: border-box;
}

select:focus, select:active {
    outline: none;
}

/*
    Input
*/
input {
    border-radius: 3px 0px 0px 3px;
    border: 1px solid #a2a2a2;
    box-sizing: border-box;
}

input:focus, input:active {
    outline: none;
}

/*
    Textarea
*/
textarea {
    border-radius: 3px 0px 0px 3px;
    border: 1px solid #a2a2a2;
    box-sizing: border-box;
}

textarea:focus, textarea:active {
    outline: none;
}

/*
    Validation rules
*/
.error-messages {
    color: rgb(199, 48, 48);
}

@media only screen and (max-width: 1500px) {

    /*
        Column
    */
    .col10-L- {

        flex: 80%;
    }
    .col2-L {
        flex: 20%;
    }
} 

@media only screen and (max-width: 1250px) {

    /*
        Column
    */
    .col9-L {
        flex: 75%;
    }
    .col3-L {
        flex: 25%;
    }
 } 

 @media only screen and (max-width: 1000px) {

    /*
        Column
    */
    .col8-S {
        flex: 66.66%;
    }
    .col4-S {
        flex: 33.33%;
    }
 } 